@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  input,
  textarea {
    @apply border-[1.5px] border-black rounded py-4 px-6;
  }

  textarea {
    @apply h-full max-h-[140px] resize-y;
  }
}
